@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.custom-card {
  text-decoration: none;
  width: 550px;
  height: 90px;
  margin: 10px;
  padding: 0 0 0 26px;
  opacity: 0.8;
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  color: #606060;
  a {
    font-size: 11px;
    text-decoration: none;
    color: #606060;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  h3 {
    font-size: 14px;
    margin: 0;
    text-align: start;
  }
  :active {
    text-decoration: none;
  }
  :hover {
    cursor: pointer;
  }
}
.custom-card:hover {
  opacity: 0.4;
}
.time-moment {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.time-icon::before {
  font-family: fontAwesome;
  font-size: 16px;
  content: '\f017';
  width: 16px;
  height: 16px;
  padding: 0px 5px 0px 0px;
}
.regular-heart-icon {
  width: 18px;
  height: 18px;
}
.heart-icon::before {
  font-family: fontAwesome;
  font-size: 16px;
  content: '\f004';
  width: 16px;
  height: 16px;
  padding: 0px 5px 0px 0px;
  color: red;
}
.story-title {
  text-align: start;
  font-size: 14px;
}
.custom-car-buttom {
  height: 90px;
  width: 68px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
